@import 'leaflet/dist/leaflet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Trocamos bg-background por bg-white e text-foreground por text-slate-900 */
  @apply bg-white text-slate-900;
}